{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "commonjs": true
    },
    "plugins": ["react"],
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": false,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true,
        "jsx": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "brace-style": ["error", "1tbs"],
        "no-var": "error",
        "object-shorthand": ["error", "always"],
        "prefer-const": "error",
        "generator-star-spacing": ["error", "before"],
        "no-const-assign": "error",
        "prefer-spread": "error",
        "max-params": ["error", 5],
        "space-before-function-paren": ["error", "never"],
        "keyword-spacing": ["error", { "after": true }],
        "space-infix-ops": ["error", { "int32Hint": true }],
        "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
        "eol-last": "error",
        "no-multiple-empty-lines": ["error", { "max": 3, "maxEOF": 1 }],
        "dot-location": ["error", "property"],
        "vars-on-top": "error",
        "func-names": "error",
        "prefer-arrow-callback": "error",
        "camelcase": ["warn", { "properties": "never" }],
        "comma-dangle": ["error", "always-multiline"],
        "semi": ["error", "always"],
        "curly": ["error", "all"],
        "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "eqeqeq": ["error", "smart"],
        "strict": ["error", "global"],
        "one-var": [2, "never"],

        "react/no-direct-mutation-state": "error",
        "react/no-deprecated": "error",
        "react/display-name": "off",
        "react/jsx-no-undef": "error",
        "react/jsx-sort-props": "off",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/no-did-mount-set-state": "error",
        "react/no-did-update-set-state": "error",
        "react/no-multi-comp": "off",
        "react/no-unknown-property": "error",
        "react/prop-types": "error",
        "react/react-in-jsx-scope": "error",
        "react/self-closing-comp": "error",
        "react/jsx-wrap-multilines": "error",
    }
}

// "react/jsx-closing-bracket-location": ["error", "after-props"]