@font-face {
    font-family: 'Circular Black';
    src: url("../fonts/CircularStd-Black.otf") format("opentype");
}

@font-face {
    font-family: 'Circular Black Italic';
    src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
}

@font-face {
    font-family: 'Circular Bold';
    src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Circular Book';
    src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Circular Bold Italic';
    src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: 'Circular Medium';
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Circular Medium Italic';
    src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
}


@font-face {
    font-family: 'GT America Bold';
    src: url("../fonts/GT-America-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Compressed Black';
    src: url("../fonts/GT-America-Compressed-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Compressed Bold';
    src: url("../fonts/GT-America-Compressed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Compressed Medium';
    src: url("../fonts/GT-America-Compressed-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Compressed Regular';
    src: url("../fonts/GT-America-Compressed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Compressed Thin';
    src: url("../fonts/GT-America-Compressed-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Compressed Ultra Light Italic';
    src: url("../fonts/GT-America-Compressed-Ultra-Light-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Ultra Extended Bold';
    src: url("../fonts/GT-America-Extended-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'GT America Regular';
    src: url("../fonts/GT-America-Extended-Regular.ttf") format("truetype");
}
