@import "fonts";

body {
    background-color: black;
    margin: 0;
}

// TODO: move this somewhere
.element {
    text-align: center;
    opacity: 1.00;
    box-shadow: 0px 0px 70px rgba(190, 201, 254, 1.0), inset 0px 0px 34px #A9D1DD;
    border-radius: 50%;
    cursor: pointer;

    // box-shadow: 0px 0px 70px #{Color.mix(color, c, 0.5)}, inset 0px 0px 17px rgba(169, 209, 221, 1.0);
    // background: radial-gradient(78.93px at 58.27% 29.92%, #4d96ce 0%, #6367c6 100%);
}
