.sector-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    text-align: center;

    &:nth-child(2) { top: 25%; }

    &:nth-child(3) { top: 50%; }

    &:nth-child(4) { top: 75%; }

    &:not(:nth-child(1)) { background-color: rgba(255, 255, 255, 0.08); }
}

.sector {
    height: 250px;
    display: inline-block;
    width: 70%;
}

.sector input {
    position: relative;
    top: 85%;
    transform: translateY(-50%);
    left: 36px;
    padding-left: 24px;
    border: none;
    background: transparent;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    // background: white;
    font-family: 'GT America Compressed Regular', 'Helvetica', sans-serif;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);

    &:focus { outline: none; }
}
